<div class='wth-event'>
    <div ng-class="vm.image ? 'overlay' : 'no-overlay'">
        <div class='wth-picture'>
            <image-cropper ng-if="vm.image" image-url='{{vm.image}} '
                           height="398"
                           show-controls="false"
                           fit-on-init="true"
                           center-on-init="true"
                           check-cross-origin="false"
                           zoom-step="0.1"
            ></image-cropper>
        </div>
    </div>
    <div class='wth-text'>
        <p class='afspr-name'>{{vm.name}}</p>
        <div ng-if="vm.text && vm.name" class="cnvs-line"></div>
        <p class='afspr-title'>{{vm.text}}</p>
    </div>
</div>