@import "../../style/variables";
.rio__text {
    background-color: #f47920;
    font-size: 44px;
    color: #fff;
    font-family: 'proxima-extrabold';
    padding: 5px;
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 0;
    line-height: 39px;
    margin-right: 17px;
}

.rio-image__draggable--wrap {
    pointer-events: none;
}
