<md-content>

    <section  layout="row" layout-align="center center" layout-wrap="">
        <md-content>
            <md-input-container>
                <label>Highlited City</label>
                <input ng-model="vm.map.title" ng-init="vm.map.title = 'Brussels'">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="vm.addLabel(vm.map.title, 'main-city-hgl')">+ Add</md-button>

            <md-input-container>
                <label>City</label>
                <input ng-model="vm.map.titleCity" ng-init="vm.map.titleCity = 'Paris'">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="vm.addLabel(vm.map.titleCity, 'main-city')">+ Add</md-button>

            <md-input-container>
                <label>Country</label>
                <input ng-model="vm.map.country" ng-init="vm.map.country = 'Belgium'">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="vm.addLabel(vm.map.country, 'country')">+ Add</md-button>

        </md-content>

    </section>
    <section  layout="row" layout-align="center center" layout-wrap="">

        <vrt-maps-simple class="maps-simple" is-ready="vm.isReady" map-id="'mapbox.streets'">
        </vrt-maps-simple>

    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-button class="md-raised" ng-click="vm.getPicture()">Get Picture</md-button>
    </section>
</md-content>
