@import "../../common/style/variables";

vrt-maps-simple {
  display: block;
  width: 984px;
  height: 512px;
}

.map-label-main-city-hgl {
  font-family: "utopia", "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: $drd-main-color;
  color: $white;
  padding: 6px 12px 0px 10px;
  line-height: 1em;
  font-size: 34px;
  z-index: 2222;
}

.map-label-main-city-hgl-rght:after {
  width: 20px;
  height: 20px;
  background-color: $drd-main-color;
  top: 19px;
  left: -30px;
  content: '';
  position: absolute;
}

.map-label-main-city-hgl-lft:before {
  width: 20px;
  height: 20px;
  background-color: $drd-main-color;
  top: 19px;
  right: -30px;
  content: '';
  position: absolute;
}


.map-label-main-city {
  font-family: "utopia", "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: $map-bg-light;
  color: $white;
  padding: 6px 10px 0px 10px;
  line-height: 1em;
  font-size: 24px;
  z-index: 2222;
}

.map-label-main-city-rght:after {
  width: 14px;
  height: 14px;
  background-color: $white;
  border: 3px solid $map-bg-light;
  top: 11px;
  right: -25px;
  content: '';
  position: absolute;
}

.map-label-main-city-lft:before {
  width: 14px;
  height: 14px;
  background-color: $white;
  border: 3px solid $map-bg-light;
  top: 11px;
  left: -25px;
  content: '';
  position: absolute;
}

.map-label-country {
  font-family: "din-med", "Roboto Condensed", sans-serif;
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: #C6C6C6;
  text-transform: uppercase;
  font-size: 28px;
  color: $map-bg-light;
  padding: 0 6px;
  line-height: 1em;
  border-bottom: 3px solid $drd-main-color;
  z-index: 2222;
}

.label-desk {
  background-color: rgba($vrt-supl, 0.1);
  width: 982px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

.nota-text {
  color: rgba($vrt-supl, 0.6);
  font-style: italic;
}