@import "../../common/style/variables";

//.maps-container {
//  height: 500px;
//  width: 500px;
//}

vrt-maps-simple {
  display: block;
  width: 500px;
  height: 500px;
}

#map {
  width: 500px;
  height: 500px;
}