@import "../../style/variables";

.wth-wrap {
  height: 550px;
  width: 980px;
  background-color: $main-color;
  box-sizing: border-box;
}
.wth-content-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wth-event {
  width: 328px;
}

.wth-picture {
  height: 325px;
  background-size: cover;
  background-color: #222;
}

.wth-text {
  background-color: $main-bg-color;
  color: $white;
  padding: 5px 5px 5px 15px;
  font-size: 24px;
  min-height: 122px;
}

.wth-footer {
  height: 84px;
  color: $white;
  display: flex;
  font-size: 42px;
  padding: 30px 25px;
  position: relative;
}

.wth-logo {
  position: absolute;
  height: 44px;
  right: 25px;
  bottom: 10px;
}