<div class='wth-wrap'>
    <div class='wth-content-wrap'>
        <div class='wth-event'>
            <div class='wth-picture'>
                <image-cropper ng-if="vm.imgOne" image-url=' {{vm.imgOne}} '
                               height="398"
                               show-controls="false"
                               fit-on-init="true"
                               center-on-init="true"
                               api="getApiFunction"
                               crop-callback="myCallbackFunction"
                               check-cross-origin="false"
                               zoom-step="0.1"
                               button-labels="myButtonLabelsObject"
                ></image-cropper>
            </div>
            <div class='wth-text'>
                <p>{{vm.textOne}}</p>
            </div>
        </div>
        <div class='wth-event'>
            <div class='wth-picture' >
                <image-cropper ng-if="vm.imgTwo" image-url=' {{vm.imgTwo}} '
                               height="398"
                               show-controls="false"
                               fit-on-init="true"
                               center-on-init="true"
                               api="getApiFunction"
                               crop-callback="myCallbackFunction"
                               check-cross-origin="false"
                               zoom-step="0.1"
                               button-labels="myButtonLabelsObject"
                ></image-cropper>
            </div>
            <div class='wth-text'>
                <p>{{vm.textTwo}}</p>
            </div>
        </div>
        <div class='wth-event'>
            <div class='wth-picture'>
                <image-cropper ng-if="vm.imgThree" image-url=' {{vm.imgThree}} '
                               height="398"
                               show-controls="false"
                               fit-on-init="true"
                               center-on-init="true"
                               api="getApiFunction"
                               crop-callback="myCallbackFunction"
                               check-cross-origin="false"
                               zoom-step="0.1"
                               button-labels="myButtonLabelsObject"
                ></image-cropper>
            </div>
            <div class='wth-text'>
                <p>{{vm.textThree}}</p>
            </div>
        </div>
    </div>
    <div class='wth-footer'>
        <div class='wth-footer-text'>TERWIJL U SLIEP</div>
        <img class='wth-logo' src="./assets/deredactie.svg">
    </div>
</div>