
<section class='wrap container-screenshot'>
    <div class='image' style="background-image: url('{{vm.image}}')">
        <div ng-class="vm.image ? 'overlay' : 'no-overlay'">
            <div class="long-quote-wrap"  layout="column" layout-align="center center">
                <div layout-align="center center"  layout="row" class="cnvs-wrap-quote">
                    <div class='quote'><span class="sign" ng-if="vm.quote">“</span>{{vm.quote}}<span class="sign" ng-if="vm.quote">”</span></div>
                </div>
                <div class="cnvs-footer" layout="row" layout-align="end center">
                    <img class='logo logo-afspr' src="./assets/logo_deafspraak.svg">
                    <div  class='cnvs-auth-wrap'layout="column" layout-align="center center">
                        <p class="cnvs-auth" ng-if="vm.authorName">{{vm.authorName}}</p>
                        <div class="cnvs-line" ng-if="vm.authorName && vm.authorTitle"></div>
                        <p class="cnvs-title" ng-if="vm.authorTitle" >{{vm.authorTitle}}</p>
                    </div>
                    <img class='logo logo-canvas' src="./assets/logo_canvas.svg">
                </div>
            </div>
        </div>
    </div>
</section>
