@import "./variables";

.drd {
  .auth-name, .sign {
    color: $drd-main-color;
  }

  .hor-line, .line-under, .wth-footer {
    background-color: $drd-main-color;
  }

  .wrap, .wth-wrap {
    background-color: $drd-main-bg-color;
  }


  .dir-wrap {
    font-family: "din-med", "Roboto Condensed", sans-serif;
  }

  .logo-drd {
    display: block;
    height: 44px;
  }

  .logo-ak {
    display: none;
  }

}

.ak {

  .logo {
    display: block;
    //top: 25px;
  }
  .logo-drd {
    display: none;
  }
  .logo-ak {
    width: 150px;
    height: 48px;
  }

  .skwg-logo {
    top: 20px;
    left: 23px;
  }

  .wth-logo {
    bottom: 15px;
  }

  .sign {
    color: $ak-main-color;
    display: inline-block;
    padding-top: -20px;
  }

  .hor-line,  .line-under {
    background-color: $ak-main-color;
  }

  .wrap, .wth-wrap, .wth-footer {
    background-color: $ak-main-bg-color;
  }

  .auth-name , .auth-title {
    font-family: "proxima", "Roboto Condensed", sans-serif;
    color: #fff;
    font-style: normal;
  }
  
  .auth-title {
    color: rgba(255, 255, 255, 0.6);
  }

  .quote {
    font-family: "utopia", "Roboto Condensed", sans-serif;
    letter-spacing: 1.5px;
  }

  .wth-footer-text {
    font-family: "proxima", "Roboto Condensed", sans-serif;
  }

  .wth-text {
    background-color: $ak-main-color;
    font-family: "proxima", "Roboto Condensed", sans-serif;
  }

}