@import "./variables";

.drd {
  .auth-name, .sign {
    color: $drd-main-color;
  }

  .hor-line, .line-under, .wth-footer {
    background-color: $drd-main-color;
  }

  .wrap, .wth-wrap {
    background-color: $drd-main-bg-color;
  }


  .dir-wrap, .footer-block-wrap {
    font-family: "din-med", "Roboto Condensed", sans-serif;
  }

  .logo-drd {
    display: block;
    height: 44px;
  }

  .logo-ak, .logo-r1 {
    display: none;
  }

  .wth-text p{
    margin: 12px 0;
  }

}

.ak {

  .logo {
    display: block;
    //top: 25px;
  }
  .logo-drd, .logo-r1 {
    display: none;
  }
  .logo-ak {
    width: 150px;
    height: 48px;
  }

  .skwg-logo {
    top: 20px;
    left: 23px;
  }

  .wth-logo {
    bottom: 25px;
  }

  .sign {
    color: $ak-main-color;
    display: inline-block;
  }

  .hor-line,  .line-under {
    background-color: $ak-main-color;
  }

  .wrap, .wth-wrap, .wth-footer {
    background-color: $ak-main-bg-color;
  }

  .auth-name , .auth-title, .header  {
    font-family: "proxima", "Roboto Condensed", sans-serif;
    color: #fff;
    font-style: normal;
  }

  .header {
    line-height: 75px;
  }
  
  .auth-title {
    color: rgba(255, 255, 255, 0.6);
    font-family: "proxima", "Roboto Condensed", sans-serif;
  }

  .quote {
    font-family: "utopia", "Roboto Condensed", sans-serif;
    letter-spacing: 1.5px;
  }

  .wth-footer-text {
    font-family: "proxima", "Roboto Condensed", sans-serif;
  }

  .wth-text {
    background-color: $ak-main-color;
    font-family: "proxima", "Roboto Condensed", sans-serif;
    height: 125px;
  }

}

.r1 {

  .wrap {
    background-color: $r1-main-color;
  }

  .overlay {
    background: rgba($r1-main-color, 0.6);
    height: 100%;
    overflow: hidden;
    z-index: 2;
  }


  .logo {
    left: 47%;
    top: 30px;
  }

  .logo-r1 {
    display: block;
    height: 64px;
  }
  .logo-drd, .logo-ak {
    display: none;
  }

  .quote, .sign {
    font-family: "Calibre-Semibold", sans-serif;
    font-style: normal;
    //letter-spacing: 2px;
    color: $r1-light-color;
    font-size: 70px;
    line-height: 70px;
  }

  .author {
    line-height: 1em;
  }

  .skwg-author {
    text-align: center;
    left: 0;
  }
  .auth-name {
    font-family: "Calibre-Medium", sans-serif;
    color: $r1-light-color;
    background-color: $r1-accent-color;
    display: inline-block;
    padding: 8px 6px 0px 6px;
    margin: 0;
    font-size: 30px;
    text-transform: none;
    line-height: 1em;
    width: 100%;
  }

  .auth-title {
    font-family: "Calibre-Medium", sans-serif;
    padding: 6px 8px 0px 10px;
    color: rgba($r1-light-color, 0.9);
    margin: 4px 0 0 0;
    font-style: normal;
    font-size: 23px;
  }

}

.deafsprak {

  .logo-terzake{
    display: none;
  }

  .logo-afspr, .logo-canvas {
    display: block;
    height: 44px;
  }

  .wrap {
    background-color: $afspr-footer;
  }

  .quote {
    font-family: 'textanarrow-heavy', sans-serif;
    font-size: 77px;
    line-height: 1em;
    font-style: normal;
  }

  .overlay {
    background: rgba(236, 138, 0, 0.3);
  }
}

.terzake {
  .logo-afspr, .logo-canvas, .logo-drd, .logo-ak, .logo-r1 {
    display: none;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.38);
  }

  .wrap {
    background-color: teal;
  }

  .logo-terzake {
    display: block;
    height: 44px;
    left: 25px;
    top: 25px;
  }

  .quote {
    font-family: 'NarzissTextBold', serif;
    font-style: normal;
    font-weight: 100;
    font-size: 55px;
    line-height: 1.2em;
  }

  .author {
    text-align: center;
  }

  .skwg-author {
    left: unset;
  }

  .auth-name {
    font-family: 'dinbold', sans-serif;
    font-size: 31px;
    line-height: 1em;
    margin: 0;
    //letter-spacing: 0.1em;
  }

  .auth-title {
    font-family: 'NarzissTextRegular', serif;
    font-size: 28px;
    font-style: normal;
    line-height: 1.1em;
    margin: 0;
  }
}