// COLOURS

$drd-main-color: #80C242;
$drd-main-bg-color: #1D303E;

$ak-main-color: #ec3336;
$ak-main-bg-color: #1c2a36;

$white: #fff;

$sea: #33699B;
$ook-dat-nog: #0084C9;

$vrt-tool: #33699B;
$vrt-guide: #009C84;
$vrt-supl: #333745;