

// COLOURS
$main-color: #80C242;
$main-bg-color: #1D303E;
$white: #fff;


//div.container {
//  border: 1em solid #473662;
//  width: 33em;
//}
//
//#progress {
//  background: #91C5A9;
//  height: 8em;
//  width: 0em;
//}
