@import "../../style/variables";

.footer_r2__text {
  color: $r2-main-color;
}

.r2-balls--right {
  top: 15px;
  position: absolute;
  right: 13px;
}

.footer-r2__content {
  color: $r2-main-color;
  text-align: center;
  align-self: flex-end;
  width: 100%;
  z-index: 1;
  font-size: 38px;
  font-family: 'markpro-bold';
  line-height: 0.2em;
}