<section class='wrap container-screenshot light'>
    <vrt-event-block ng-if="vm.titleOne || vm.authorNameOne"
                     text="vm.titleOne" name="vm.authorNameOne" image="vm.imageOne"></vrt-event-block>
    <vrt-event-block ng-if="vm.titleTwo || vm.authorNameTwo"
                     text="vm.titleTwo" name="vm.authorNameTwo" image="vm.imageTwo"></vrt-event-block>
    <vrt-event-block ng-if="vm.titleThree || vm.authorNameThree"
                     text="vm.titleThree" name="vm.authorNameThree" image="vm.imageThree"></vrt-event-block>
    <img  class="logo-r1__bottom--blue" src="./assets/logor1_blauw.svg">

</section>