<h1>Opsomming</h1>
<p>Preview: {{vm.currentClip.bulletlisttitle}}</p>
<p>Preview: {{vm.currentClip.bulletlist01}}</p>
<p>Preview: {{vm.currentClip.bulletlist02}}</p>
<p>Preview: {{vm.currentClip.bulletlist03}}</p>
<p>Preview: {{vm.currentClip.bulletlist04}}</p>


<md-input-container>
    <label>Titel</label>
    <input ng-model="vm.currentClip.bulletlisttitle">
</md-input-container>

<md-input-container>
    <label>Punt 1</label>
    <input ng-model="vm.currentClip.bulletlist01">
</md-input-container>

<md-input-container>
    <label>Punt 2</label>
    <input ng-model="vm.currentClip.bulletlist02">
</md-input-container>

<md-input-container>
    <label>Punt 3</label>
    <input ng-model="vm.currentClip.bulletlist03">
</md-input-container>

<md-input-container>
    <label>Punt 4</label>
    <input ng-model="vm.currentClip.bulletlist04">
</md-input-container>