<md-dialog aria-label="VRT Movie Tool (a.k.a. The Stitcher)" flex="100" class="stitcher-dialog__outside">
    <md-toolbar class="vrt-toolbar">
        <div class="md-toolbar-tools">
            <h2>Kies een template</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content class="stitcher-dialog__inside">
        <div layout="row" layout-align="start center" layout-wrap>

            <div ng-repeat="(key, t) in vm.clipTemplates" flex="30" class="stitcher-templates__preview" ng-click="vm.initiateClip(t.aep, key)">

                <img src="{{t.url}}">
                <div class="stitcher-templates__description">
                    {{t.description}}
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>