.email-form {
  text-align: center;
}

.email-input {
  display: block;
  max-width: 350px;
  margin: 0 auto;
}

//md-dialog {
//  md-dialog-content {
//    width: 750px;
//    height: 300px;
//  }
//
//  md-tabs {
//    height: 400px;
//  }
//}