<div layout="row" layout-wrap>
    <section flex="70">
            <div class="clip-preview-container" ng-show="vm.currentClip.uploaded">
                <h2>Clips</h2>

                <md-input-container>
                    <label>Layout:</label>
                    <md-select ng-model="vm.templatePath">
                        <md-option ng-repeat="type in vm.movieTypes" ng-value="type">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <ul layout="row" layout-align="space-between center" class="layout-thumbs">
                    <li ng-repeat="type in vm.movieTypes" ng-click="vm.changeLayout(type)" ng-class="{'selected' : vm.templatePath.name === type.name}">
                        <p>{{type.name}}:</p>
                        <img src="{{type.thumb}}" />
                    </li>
                </ul>

                <hr />

                <ng-include src="vm.templatePath.templateLocalPath"></ng-include>

                <hr />

                <div>
                    <span flex></span>
                    <md-button class="md-raised" aria-label="Clip opslaan" ng-disabled="vm.currentClip.saved" ng-click="vm.saveClip()">
                        Opslaan
                    </md-button>
                    <md-button class="md-raised" aria-label="Clip toevoegen" ng-click="vm.addClip()">
                        Nieuw fragment toevoegen
                    </md-button>
                </div>
            </div>
    </section>

    <section flex="30">
        <md-toolbar class="vrt-sub-toolbar">
            <div class="md-toolbar-tools">
                <h3>
                    Movie overzicht
                </h3>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-content  style="height: 450px;">
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="clip in vm.movieClips | orderBy: 'start'"
                              ng-click="" ng-class="{'editingRow' : line.isEditmode}">
                    <div class="md-list-item-text">
                        {{clip.title}}
                    </div>
                    <i ng-click="" class="material-icons">&#xE254;</i>
                    <i ng-click="vm.deleteClip(clip)" class="material-icons">&#xE92B;</i>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>

        <md-toolbar class="vrt-sub-toolbar">
            <div class="md-toolbar-tools">
                <h3>
                    Movie options
                </h3>
                <span flex></span>
            </div>
        </md-toolbar>

        <div flex="50">
            <md-checkbox ng-model="vm.movie.logo" aria-label="Checkbox logo">
                Add logo
            </md-checkbox>
        </div>
        <div flex="50">
            <md-checkbox ng-model="vm.movie.bumper" aria-label="Checkbox bumper">
                Add bumper
            </md-checkbox>
        </div>

        <md-button class="md-raised" aria-label="Movie verzenden" ng-click="vm.renderMovie()">
            Opslaan en movie verzenden
        </md-button>
    </section>
</div>