<section class='wrap container-screenshot' style="background: white, rgba(20, 40, 74, .2);">
    <div class='image' style="background-image: url('{{vm.image}}')">
        <div ng-class="vm.image ? 'overlay' : 'overlay'" style="background: rgba(20, 40, 74, .8);">
            <img class='logo logo-terzake' src="/assets/logo_terzake2.svg">
            <div class="wrap-announce">
                <div class="announce-block">
                    <p class='auth-title'>{{vm.titleOne}}</p>
                    <p class='auth-name'>{{vm.authorNameOne}}</p>

                </div>
                <div class="announce-block" ng-if="vm.titleTwo">
                    <p class='auth-title'>{{vm.titleTwo}}</p>
                    <p class='auth-name'>{{vm.authorNameTwo}}</p>

                </div>
                <div class="announce-block" ng-if="vm.titleThree">
                    <p class='auth-title'>{{vm.titleThree}}</p>
                    <p class='auth-name'>{{vm.authorNameThree}}</p>

                </div>
            </div>
        </div>
    </div>
</section>