.wrap-announce {
    text-align: left;
    margin: 25px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 75px;
}

.announce-block {
    padding-bottom: 30px;
    .auth-title {
        font-family: 'forma-bold', serif;
        font-size: 45px;
        // text-transform: uppercase;
        display: inline-block;
    }
    .auth-name {
        font-family: 'forma-light', serif;
        font-size: 30px;
        text-transform: none;
        white-space: pre-wrap;
    }
    .line-separator {
        margin: 10px 0 15px 0;
        height: 1px;
        background-color: #fff;
        margin-left: auto;
        margin-right: 0;
    }
}