@import "../../style/variables";

.logo-r2 {
  display: block;
  left: 15px;
  position: absolute;
  top: 15px;
}

.logo-r2--right {
  display: block;
  right: 15px;
  position: absolute;
  top: 15px;
}

.r2-light{
  background-color: #fff;
}

.r2-img {
  width: 492px;
  //height: 100%;
  background-size: cover;
  height: 513px;
  position: relative;
}

.r2-quote-wrap {
  width: 492px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.r2-author {
  line-height: 6px;
  color: $r2-main-color;
  width: 492px;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.r2-auth-name {
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 1.1em;
  margin: 0;
}

.r2-auth-title {
  font-style: italic;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
}

.r2-quote {
  margin: 0 auto;
  color: $r2-main-color;
  text-align: center;
  padding: 0 10px;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  font-family: 'markpro-bold', sans-serif;
  white-space: pre-wrap;
}

.r2-sign {
  padding: 5px;
}

.r2-clip {
  position: absolute;
  right: 0;
}

.r2-balls {
  position: absolute;
  left: 15px;
  top: 15px;
}