@import "../../style/variables";

.header-bob {
  color: $white;
  margin: 0 auto;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 84px;
  display: inline-block;
  white-space: pre-wrap;
  padding: 0 50px;
}