<div layout="row">
    <section flex="20" layout="column" class="explainers-movies">
        <md-toolbar class="vrt-toolbar">
            <div class="md-toolbar-tools">
                <h2>Filmpjes</h2>
            </div>
        </md-toolbar>
        <md-dialog-content class="explainers-dialog__inside">
            <div layout="column" layout-align="start center" layout-wrap>
                <md-button class="md-raised" aria-label="filmpje starten" ng-click="vm.createMovie()">
                    Start nieuw filmpje
                </md-button>
                <div ng-repeat="(key, m) in vm.movies" layout-padding layout="row" style="width:100%;" layout-align="space-between center" ng-click="vm.openMovie(m.$id)">
                    {{m.$id}}
                    <md-input-container>
                        <i style="padding-top:8px;" ng-click="vm.movies.$remove(m)" class="material-icons grid-iconbutton">&#xE14C;</i>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
    </section>
    <!-- <section ng-hide="vm.movieId == ''" flex="20" layout="column">
        <div ng-repeat="(key, c) in vm.clips" ng-if="key != 0" ng-click="vm.activeTab = key; vm.goToTime(c.start)">
            {{key}} - {{c.start}} - {{c.text}}
        </div>
    </section> -->
    <section flex ng-hide="vm.movieId == ''" class="explainers-movie" layout="column" flex="50">
        <div>
            <input ng-model="vm.subtitle.video" ngf-accept="'video/mp4, video/quicktime'" ngf-select="vm.upload($file)" type="file" />
        </div>
        <div class="explainers-video">
            <vrt-videoplayer source="vm.meta.movieUrl" ng-if="vm.meta.movieUrl != ''"></vrt-videoplayer>
            <div class="explainers-video__templates" ng-repeat="(key, c) in vm.clips" ng-if="(vm.videogular.api.currentTime/1000) >= c.start && (vm.videogular.api.currentTime/1000) <= (c.start + c.length) && key != 'meta'">
                <div style="width:100%;height:100%" ng-include="vm.getInclude('view', c.template)"></div>
            </div>
        </div>
        <div ng-if="vm.meta.movieUrl == ''">No video</div>
        <div ng-if="vm.uploading">Uploading</div>
        <div ng-if="vm.meta.movieUrl != ''">
            <div layout-padding>
                <md-tabs md-border-bottom md-autoselect style="margin-top:50px;">
                    <md-tab ng-repeat="(key, c) in vm.clips" ng-disabled="tab.disabled" label="{{key}}" md-on-select="vm.activeTab = key; vm.goToTime(c.start)" ng-if="c.$id != 'meta'" md-active="key == vm.activeTab">
                        <div>
                            <md-slider aria-label="slider" ng-model="c.start" step="0.001" min="0" max="{{vm.meta.movieDuration}}" ng-change="vm.setTime(c)"></md-slider>
                            {{c.length}} {{tab}} {{key}}, {{c.$id}}
                            <br/>
                            <div layout="row">
                                <div class="explainers-templates__preview" ng-repeat="t in vm.clipTemplates" ng-click="vm.saveTemplateToClip(key, t)">
                                    <img src="{{t.img}}" ng-class="{'selectedTemplate' : t.id == c.template}">
                                </div>
                            </div>
                            <div ng-include="vm.getInclude('form', c.template)"></div>
                            <md-button class="md-primary md-raised" ng-click="vm.clips.$remove(c)" ng-disabled="c.length <= 1">Verwijder Clip</md-button>
                        </div>
                    </md-tab>
                </md-tabs>
            </div>
            <md-button class="md-raised" aria-label="Clip toevoegen" ng-click="vm.addClip()">
                Voeg clip toe
            </md-button>
        </div>
    </section>
    <section ng-hide="vm.movieId == '' || vm.meta.movieUrl == null" flex="30" layout="column" layout="column">
        <md-input-container>
            <label>Kies een audiotrack</label>
            <md-select ng-model="vm.meta.audio" ng-change="vm.setAudio(vm.meta.audio)">
                <md-option ng-repeat="(key, a) in vm.audioTracks" value="{{a.id}}">
                    {{a.name}}
                </md-option>
            </md-select>
        </md-input-container>
        {{vm.audioTrackUrl}}
        <vrt-audioplayer source="vm.audioTrackUrl"></vrt-audioplayer>

        <md-button class="md-raised" aria-label="Film maken" ng-click="vm.renderMovie(vm.clips, vm.meta, vm.root)">
            Maak filmpje
        </md-button>
        <md-input-container>
            <label>Kies een logo</label>
            <md-select ng-model="vm.logo" ng-change="vm.setLogo(vm.meta.logo)">
                <md-option ng-repeat="(key, l) in vm.logos" value="{{l.id}}">
                    {{l.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <img src="{{vm.logoUrl}}">
    </section>
</div>
