@font-face {
  font-family: 'dinbold';
  src: url('./fonts/din-bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/din-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/din-bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/din-bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('./fonts/din-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('./fonts/din-bold.svg#dinbold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'din-med';
  src: url('./fonts/din-med.ttf')  format('truetype'),  /* Safari, Android, iOS */
  url('./fonts/din-med.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'din-cndbold';
  src: url('./fonts/din-cndbold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'din-cndit';
  src: url('./fonts/din-cndit.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'utopia';
  src: url('./fonts/UtopiaStdBoldSubhIt.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/proxima-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('./fonts/proxima-bold.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Calibre-Black';
  src: url('./fonts/Calibre-Black.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Calibre-Medium';
  src: url('./fonts/Calibre-Medium.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Calibre-Semibold';
  src: url('./fonts/Calibre-Semibold.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'textanarrow-book';
  src:    url('./fonts/textanarrow-book.ttf') format('ttf'),
          url('./fonts/textanarrow-book.woff') format('woff'); /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'textanarrow-heavy';
  src:    url('./fonts/textanarrow-heavy.ttf') format('ttf'),
  url('./fonts/textanarrow-heavy.woff') format('woff'); /* Pretty Modern Browsers */
}


@font-face {
  font-family: 'icomoon';
  src:    url('./fonts/icomoon.eot');
  src:    url('./fonts/icomoon.eot#iefix') format('embedded-opentype'),
  url('./fonts/icomoon.ttf') format('truetype'),
  url('./fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.imgCropper-controls {
  position: absolute;
  top: -26px;
}


