@font-face {
  font-family: 'dinbold';
  src: url('./fonts/din-bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/din-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/din-bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/din-bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('./fonts/din-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('./fonts/din-bold.svg#dinbold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'din-med';
  src: url('./fonts/din-med.ttf')  format('truetype'),  /* Safari, Android, iOS */
  url('./fonts/din-med.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'din-cndbold';
  src: url('./fonts/din-cndbold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'din-cndit';
  src: url('./fonts/din-cndit.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'utopia';
  src: url('./fonts/UtopiaStd-BoldSubhIt.otf'), /* Safari, Android, iOS */
  url('./fonts/UtopiaStd-BoldSubhIt.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/proxima-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('./fonts/proxima-bold.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'icomoon';
  src:    url('fonts/icomoon.eot?zh1o51');
  src:    url('fonts/icomoon.eot?zh1o51#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?zh1o51') format('truetype'),
  url('fonts/icomoon.woff?zh1o51') format('woff'),
  url('fonts/icomoon.svg?zh1o51#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

//.vrt-txt {
//  font-family: "dinbold", "Roboto Condensed", sans-serif;
//}

.imgCropper-controls {
  position: absolute;
  top: -26px;
}