$bgcolor: rebeccapurple;

* {
  box-sizing: border-box;
}


div.container {
  border: 1em solid #473662;
  //position: absolute;
  //top: 30%;
  //left: 30%;
  //margin-right: -50%;
  width: 33em;
}

#progress {
  background: #91C5A9;
  height: 8em;
  width: 0em;
}
