
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'din bold';
  //src: url('./fonts/ufonts.com_din-bold-webfont.eot'); /* IE9 Compat Modes */
  //src: url('./fonts/ufonts.com_din-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //url('./fonts/ufonts.com_din-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  //url('./fonts/ufonts.com_din-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  //url('./fonts/ufonts.com_din-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  //url('./fonts/ufonts.com_din-bold-webfont.svg#dinbold') format('svg'); /* Legacy iOS */
}

//.vrt-txt {
//  font-family: "din bold";
//}

div.container {
  border: 1em solid #473662;
  //position: absolute;
  //top: 30%;
  //left: 30%;
  //margin-right: -50%;
  width: 33em;
}

#progress {
  background: #91C5A9;
  height: 8em;
  width: 0em;
}
