.login-button {
    border-radius: 3px;
    margin: 0 0;
    height: 3rem;
    margin-top: 4px;
}

.login-button-icon {
    font-size: 3rem;
    color: white;
}

.full-length {
    width: 100%;
}

.feedback-form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}


.forgotLink {
    cursor: pointer;
    opacity: .8;
    text-decoration: underline;
}

.form-footer {
    padding-right: 24px;
}