<section>
    <md-list class="md-dense home-list" flex>
        <md-list-item ng-repeat="c in vm.components" class="md-2-line home-list__item home-list__item--{{c.type}}" ng-click="vm.goTo(c.url)">
            <i class="material-icons md-avatar-icon">{{c.icon}}</i>
            <div class="md-list-item-text" layout="column">
                <h3>{{c.title}}</h3>
                <p>{{c.sub}}</p>
            </div>
        </md-list-item>
</section>
<section class="home-footer" layout="row" layout-align="center center">
    <div>
        <div class="home-heart-container" id="heart">
            <svg id="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 21.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53 0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54l-1.45 1.31z" />
            </svg> van de Nieuwshub!
        </div>
</section>