<div layout="row" layout-align="center start">
    <div flex="80" class="filter-container">
        <md-button class="md-button md-raised tool" ng-class="{'active' : vm.currentFilter === 'tool'}" ng-click="vm.filterTiles('tool')">Tools</md-button>
        <md-button class="md-button md-raised guide" ng-class="{'active' : vm.currentFilter === 'guide'}" ng-click="vm.filterTiles('guide')">Handleidingen</md-button>
    </div>
</div>
<div layout="col" layout-align="center start" class="home-container">
    <md-grid-list flex="80" md-cols="3" md-cols-xs="3" md-cols-sm="6" md-cols-gt-md="12"
                  md-row-height-gt-md="1:1" md-row-height="2:2"
                  md-gutter="10px" md-gutter-gt-sm="20px">
        <md-grid-tile ng-repeat="tile in vm.filteredTiles" md-rowspan="5" md-colspan="3" class="{{tile.type}}">

            <!--<md-grid-tile-header>-->
                <!--{{tile.category}}-->
            <!--</md-grid-tile-header>-->

            <img src="{{tile.image}}" />

            <h2>{{tile.title}}</h2>
            <h4>{{tile.sub}}</h4>

            <p>{{tile.status}}</p>

            <md-grid-tile-footer>
                <md-button class="md-button md-raised" ng-if="tile.url !== undefined" ng-href="{{tile.url}}" >Aan de slag</md-button>
                <md-button class="md-button md-raised" ng-if="tile.docUrl !== undefined" ng-href="" target="_blank">Documentatie</md-button>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>