@import "../../common/style/variables";
.home {
    &-list {
        &__item {
            &:nth-child(2n+1) {
                background-color: transparentize($vrt-tool, .9);
            }
            &--guide {
                background-color: #FEFD3A !important;
            }
        }
    }
    &-footer {
        margin-bottom: 2rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        & > p {
            width: 100%;
            text-align: center;
        }
    }
}

.home-heart-container {
    margin: 0 auto;
    // transform: translate(46%, 60px);
}

#heart svg {
    width: .7rem;
    height: .7rem;
    fill: red;
    position: relative;
    top: .05rem;
    margin-right: .1rem;
    -webkit-animation: pulse ease-in-out 3s infinite;
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}
