<section class='wrap container-screenshot' layout="row">
    <div flex="grow" style="display: inline-block; height: 100%;" ng-if="vm.imgOne">
        <div class='pictures-drd__image' vrt-movable ng-style="{'background-image': 'url(' + vm.imgOne + ')', 'background-size': vm.imgOneSize + '%'}">
        </div>
    </div>

    <div flex="grow" style="display: inline-block; height: 100%;" ng-if="vm.imgTwo">
        <div class='pictures-drd__image' vrt-movable ng-style="{'background-image': 'url(' + vm.imgTwo + ')', 'background-size': vm.imgTwoSize + '%'}">
        </div>
    </div>

      <div flex="grow" style="display: inline-block; height: 100%;" ng-if="vm.imgThree">
        <div class='pictures-drd__image' vrt-movable ng-style="{'background-image': 'url(' + vm.imgThree + ')', 'background-size': vm.imgThreeSize + '%'}">
        </div>
    </div>


      <div flex="grow" style="display: inline-block; height: 100%;" ng-if="vm.imgFour">
        <div class='pictures-drd__image' vrt-movable ng-style="{'background-image': 'url(' + vm.imgFour + ')', 'background-size': vm.imgFourSize + '%'}">
        </div>
    </div>


      <div flex="grow" style="display: inline-block; height: 100%;" ng-if="vm.imgFive">
        <div class='pictures-drd__image' vrt-movable ng-style="{'background-image': 'url(' + vm.imgFive + ')', 'background-size': vm.imgFiveSize + '%'}">
        </div>
    </div>


</section>