<div class='wrap' ng-hide="vm.isMirrored">
    <img class="logo logo-ak" src="./assets/logoak.svg">
    <img class='logo logo-drd' src="./assets/deredactie.svg">
    <div class='quote-wrap'>
        <div class='quote skwg-quote'><span class="sign">“</span>{{vm.quote}}<span class="sign">”</span></div>
        <div class="author align-author">
            <p class='auth-name'>{{vm.authorName}}</p>
            <p class='auth-title'>{{vm.authorTitle}}</p>
        </div>
    </div>
    <div class='skwg-image'>
        <image-cropper ng-if="vm.image" image-url=' {{vm.image}} '
                       height="688"
                       show-controls="true"
                       fit-on-init="false"
                       center-on-init="true"
                       check-cross-origin="false"
                       zoom-step="9"
                       button-labels="myButtonLabelsObject"
        ></image-cropper>
    </div>
    <!--<div class='line-under'></div>-->
</div>

<!--<div class='wrap' ng-show="vm.isMirrored">-->
    <!--<img class="skwg-logo logo-ak" src="./assets/logoak.svg">-->
    <!--<img class='skwg-logo logo-drd' src="./assets/deredactie.svg">-->
    <!--<div class='skwg-image'>-->
        <!--<image-cropper ng-if="vm.image" image-url=' {{vm.image}} '-->
                       <!--height="688"-->
                       <!--show-controls="true"-->
                       <!--fit-on-init="true"-->
                       <!--center-on-init="true"-->
                       <!--check-cross-origin="false"-->
                       <!--zoom-step="0.1"-->
                       <!--button-labels="myButtonLabelsObject"-->
        <!--&gt;</image-cropper>-->
    <!--</div>-->
    <!--<div class='quote-wrap'>-->
        <!--<div class='quote'><span class="sign" ng-show="vm.isHiddenSign">"</span>{{vm.quote}}</div>-->
        <!--<div class="author skwg-author">-->
            <!--<p class='auth-name'>{{vm.authorName}}</p>-->
            <!--<p class='auth-title'>{{vm.authorTitle}}</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='line-under'></div>-->
<!--</div>-->

