@import "../../style/variables";

.wrap {
  width: 984px;
  height: 513px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skwg-image {
  width: 320px;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.quote-wrap {
  width: 560px;
  margin: 0 auto;
  position: relative;
}

.skwg-quote {
  text-align: left;
}

.author {
  line-height: 6px;
  color: $white;
  width: 100% ;
  //height: 100px;
  position: absolute;
  bottom: 25px;
  left: 20px;
  text-align: left;
}

.align-author {
  left: 0px;
}

.auth-name {
  text-transform: uppercase;
  font-size: 24px;
}

.auth-title {
  font-style: italic;
  font-size: 20px;
}

// Mirrored
.skwg-logo {
  height: 44px;
  right: 20px;
  position: absolute;
  top: 20px;
}

.skwg-author {
  text-align: right;
  left: -50px;
}
