@import "../../style/variables";

.cnvs {
  width: 984px;
  height: 512px;
  background-color: #0db9f0;
}

.logo-r1__bottom--white {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  display: block;
  height: 54px;
  margin: 0 auto;
}

.r1-author__block--top {
  //position: absolute;
  text-align: center;
  //top: 30px;
  //max-width: 300px;
  //right: 0;
  //left: 0;
  margin: 30px auto;
  width: auto;
  display: inline-block;
}

.auth-title__bg {
  font-family: "Calibre-Medium", sans-serif;
  padding: 6px 8px 0px 10px;
  color: $r1-main-color;
  margin: 0;
  font-style: normal;
  font-size: 23px;
  background-color: $white;
  line-height: 1em;
  width: 100%;
}

.r1-image__draggable--wrap {
  pointer-events: none;
}

.r1-auth-name {
  font-family: "Calibre-Semibold", sans-serif;
  color: #FFFDE9;
  background-color: #EE4F2E;
  padding: 8px 6px 0px 6px;
  margin: 0;
  font-size: 30px;
  text-transform: none;
  line-height: 1em;
  width: 100%;
}

.r1-author__block--wrap {
  //width: 100%;
  //height: 100%;
  //display: -ms-flexbox;
  display: flex;
  //-ms-flex-pack: center;
  justify-content: center;
  //-ms-flex-align: center;
  align-items: center;
}

.r1-long-quote-wrap__padded {
  margin-top: -126px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}