@import "../../style/variables";

.image {
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.overlay {
  background: rgba(0, 0, 0, 0.52);
  height: 100%;
  overflow: hidden;
  z-index: 2;
}
.no-overlay {
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.line-under {
  background-color: $drd-main-color;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.logo {
  left: 20px;
  position: absolute;
  top: 20px;
  display: none;
}

.logo-drd {
  height: 44px;
}

.sign{
  font-size: 45px;
  color: $drd-main-color;
}

.quote {
  margin: 0 auto;
  color: $white;
  text-align: center;
  width: 800px;
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
  line-height: 60px;
}

.long-quote-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-wrap {
  width: 560px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
