
.feedback-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    margin-top: 8px;
}

.full-length {
    width: 100%;
}

.feedback-form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}