<!-- <md-button ng-click="vm.showDialog($event)" class="md-raised md-primary">Feedback</md-button> -->
<div class="feedback-button" layout="row" layout-align="center center">
    <user-login></user-login>
    <md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="vrt-button">
        Feedback
    </md-button>
</div>


<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="vrt-toolbar--colored">
        <h1 class="md-toolbar-tools">Feedback <span flex></span><i ng-click="vm.toggleRight()" class="material-icons" role="button">&#xE5CD;</i></h1>
    </md-toolbar>
    <md-content class="feedback-form">
        <form>
            <md-input-container class="full-length">
                <label for="name">Naam</label>
                <input type="text" id="name" ng-model="vm.feedback.name" md-autofocus>
            </md-input-container>
            <md-input-container class="full-length">
                <label for="feedback">Feedback</label>
                <textarea id="feedback" ng-model="vm.feedback.text"></textarea>
            </md-input-container>
        </form>
        <md-button ng-click="vm.sendToZapier()" class="vrt-button">
            Send
        </md-button>
    </md-content>
</md-sidenav>
