.container-screenshot {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1D303E;

}

.dir-wrap {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //width: 700px;
  margin: 20px auto;
  background-color: red;
}
