<div layout="column" class="md-inline-form block-wrap" ng-if="vm.templateName === 'peppermint'">
    <md-content layout-padding="">
        <md-input-container class="md-block">
            <label>Name</label>
            <!--<input ng-model="quote.question" md-maxlength="130">-->
            <input ng-model="quote.authName" md-maxlength="100">

        </md-input-container>
        <md-input-container class="md-block">
            <label>Text</label>
            <!--<input ng-model="quote.question" md-maxlength="130">-->
            <input ng-model="quote.text" md-maxlength="100">

        </md-input-container>
    </md-content>

    <div layout-gt-sm="row">
        <input ng-model="quote.img" type="file" name="img"  vrt-image-preview="onFileSelect($files)"/>
    </div>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="md-body-1">Image size</span>
        </div>
        <md-slider flex ng-init="quote.imageSize=100" ng-model="quote.imageSize" min="100" max="200"
                   id="imageSize-slider" class="md-primary">
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="quote.imageSize" aria-controls="imageSize-slider">
        </div>
    </div>
    <div class="dir-wrap">
        <vrt-template-peppermint class="dir-wrap"
                                image-size="quote.imageSize"
                                name="quote.authName"
                                text="quote.text"
                                image="quote.img">
        </vrt-template-peppermint>
    </div>
</div>