<div layout="column" class="md-inline-form block-wrap" ng-if="vm.templateName === 'linda'">
    <div layout-gt-sm="row">
        <md-content layout-padding="" flex="50">

            <md-input-container class="md-block">
                <label>Titel</label>
                <textarea ng-model="vm.quote.authorTitle1" md-maxlength="340" rows="3" vrt-maxlines="5" maxlines-prevent-enter="false"></textarea>
            </md-input-container>



        </md-content>
        <md-content layout-padding="" flex="50">

            <md-input-container class="md-block">
                <label>Auteur naam</label>
                <textarea ng-model="vm.quote.authorName1" md-maxlength="340" rows="3" vrt-maxlines="5" maxlines-prevent-enter="false"></textarea>
            </md-input-container>

        </md-content>
    </div>
    <div layout-gt-sm="row">
        <md-content layout-padding="" flex="50">
            <md-input-container class="md-block">
                <label>Titel</label>
                <textarea ng-model="vm.quote.authorTitle2" md-maxlength="340" rows="3" vrt-maxlines="5" maxlines-prevent-enter="false"></textarea>
            </md-input-container>
        </md-content>
        <md-content layout-padding="" flex="50">
            <md-input-container class="md-block">
                <label>Auteur naam</label>
                <textarea ng-model="vm.quote.authorName2" md-maxlength="340" rows="3" vrt-maxlines="5" maxlines-prevent-enter="false"></textarea>
            </md-input-container>

        </md-content>
    </div>
    <div layout-gt-sm="row">
        <md-content layout-padding="" flex="50">
            <md-input-container class="md-block">
                <label>Titel</label>
                <textarea ng-model="vm.quote.authorTitle3" md-maxlength="340" rows="3" vrt-maxlines="5" maxlines-prevent-enter="false"></textarea>
            </md-input-container>
        </md-content>
        <md-content layout-padding="" flex="50">
            <md-input-container class="md-block">
                <label>Auteur naam</label>
                <textarea ng-model="vm.quote.authorName3" md-maxlength="340" rows="3" vrt-maxlines="5" maxlines-prevent-enter="false"></textarea>
            </md-input-container>

        </md-content>
    </div>

    <div layout-gt-sm="row">
        <md-content layout-padding="" flex="50">
            <md-input-container class="md-block">
                <label>Titel</label>
                <textarea ng-model="vm.quote.authorTitle4" md-maxlength="340" rows="3" vrt-maxlines="5" maxlines-prevent-enter="false"></textarea>
            </md-input-container>
        </md-content>
        <md-content layout-padding="" flex="50">
            <md-input-container class="md-block">
                <label>Auteur naam</label>
                <textarea ng-model="vm.quote.authorName4" md-maxlength="340" rows="3" vrt-maxlines="5" maxlines-prevent-enter="false"></textarea>
            </md-input-container>

        </md-content>
    </div>



    <div layout-gt-sm="row">

        <!-- if terzake just display-->
        <input ng-model="vm.image" type="file" name="img" required vrt-image-preview="onFileSelect($files)" />

    </div>


    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="md-body-1">Afbeelding grootte</span>
        </div>
        <md-slider flex ng-init="vm.template.imageSize=100" ng-model="vm.template.imageSize" min="0" max="200" id="imageSize-slider" class="md-primary">
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="vm.template.imageSize" aria-controls="imageSize-slider">
        </div>
    </div>


    <div class="dir-wrap">
        <vrt-template-linda class="dir-wrap" is-hidden-sign="true" author-name-one="vm.quote.authorName1" title-one="vm.quote.authorTitle1" author-name-two="vm.quote.authorName2" title-two="vm.quote.authorTitle2" author-name-three="vm.quote.authorName3" title-three="vm.quote.authorTitle3"
            author-name-four="vm.quote.authorName4" title-four="vm.quote.authorTitle4" quote="vm.quote.question" image="vm.image" image-size="vm.template.imageSize">
        </vrt-template-linda>
    </div>
</div>