
<!--<div layout="column" class="md-inline-form">-->
    <!--<md-content layout-padding="">-->
        <!--<md-input-container class="md-block">-->
            <!--<label>Quote</label>-->
            <!--<input ng-model="quote.question" md-maxlength="200">-->
        <!--</md-input-container>-->
        <!--<input ng-model="quote.img" type="file" vrt-image-preview="onFileSelect($files)"/>-->
    <!--</md-content>-->
    <!--<div class="dir-wrap">-->
        <!--<vrt-template-murderface class="dir-wrap"-->
                <!--is-ready="vm.isReady" quote="quote.question" image="quote.img">-->
        <!--</vrt-template-murderface>-->
    <!--</div>-->
    <!--<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">-->
        <!--<md-button class="md-raised" ng-click="vm.getPicture()">Get Picture</md-button>-->
        <!--<a ng-href="{{vm.url}}">Download</a>-->
    <!--</section>-->
<!--</div>-->

<div layout="column" class="md-inline-form">
    <md-content layout-padding="">
        <md-input-container class="md-block">
            <label>Quote</label>
            <input ng-model="quote.question" md-maxlength="200">
        </md-input-container>
        <input ng-model="quote.img" type="file" vrt-image-preview="onFileSelect($files)"/>
    </md-content>
    <div class="dir-wrap">
        <vrt-template-wartooth class="dir-wrap"
                                 is-ready="vm.isReady" quote="quote.question" image="quote.img">
        </vrt-template-wartooth>
    </div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-button class="md-raised" ng-click="vm.getPicture()">Get Picture</md-button>
        <a ng-href="{{vm.url}}">Download</a>
    </section>
</div>