<div layout="column" class="md-inline-form block-wrap" ng-if="vm.templateName === 'iceking'">
    <md-content layout-padding="">
        <md-input-container class="md-block">
            <label>Quote</label>
            <textarea ng-model="quote.question" md-maxlength="80" rows="3" vrt-maxlines="3" maxlines-prevent-enter="true"></textarea>

        </md-input-container>
        <md-input-container class="md-block">
            <label>Stad</label>
            <input ng-model="quote.city" md-maxlength="100">
        </md-input-container>
    </md-content>

    <div layout-gt-sm="row">
        <input ng-model="quote.img" type="file" name="img"  vrt-image-preview="onFileSelect($files)"/>
    </div>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="md-body-1">Image size</span>
        </div>
        <md-slider flex ng-init="quote.imageSize=100" ng-model="quote.imageSize" min="100" max="200"
                   id="imageSize-slider" class="md-primary">
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="quote.imageSize" aria-controls="imageSize-slider">
        </div>
    </div>
    <div class="dir-wrap">
        <vrt-template-ice-king class="dir-wrap"
                                image-size="quote.imageSize"
                                quote="quote.question"
                                image="quote.img"
                               city="quote.city">
        </vrt-template-ice-king>
    </div>
</div>