<div layout="column" class="md-inline-form block-wrap" ng-if="vm.templateName === 'stampington'" ng-class="vm.templateClass">


    <input ng-model="quote.img" type="file" name="img" required vrt-image-preview="onFileSelect($files)"/>


    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="md-body-1">Image size</span>
        </div>
        <md-slider flex ng-init="vm.quote.imageSize=100" ng-model="vm.quote.imageSize" min="0" max="200"
                   id="imageSize-slider" class="md-primary">
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="vm.quote.imageSize" aria-controls="imageSize-slider">
        </div>
    </div>

    <div class="dir-wrap">
        <vrt-template-stampington class="dir-wrap"
                          template-class="vm.templateClass"
                          image-size="vm.quote.imageSize"
                          image="quote.img" >
        </vrt-template-stampington>
    </div>
</div>