<div layout="column" class="md-inline-form block-wrap" ng-if="vm.templateName === 'explosion'">
    <md-content layout-padding="">
        <md-input-container class="md-block">
            <label>Headline</label>
            <textarea ng-model="quote.headline" md-maxlength="60" rows="3" vrt-maxlines="3" maxlines-prevent-enter="true"></textarea>
        </md-input-container>
    </md-content>
    <md-content layout-padding="">
        <md-input-container class="md-block">
            <label>Text</label>
            <textarea ng-model="quote.question" md-maxlength="60" rows="3" vrt-maxlines="3" maxlines-prevent-enter="true"></textarea>
        </md-input-container>
    </md-content>

    <div layout-gt-sm="row">
        <input ng-model="quote.img" type="file" name="img" required vrt-image-preview="onFileSelect($files)"/>
    </div>
    <div class="dir-wrap">
        <vrt-template-explosion class="dir-wrap"
                                template-class="vm.templateClass"
                                quote="quote.question"
                                image="quote.img"
                                headline="quote.headline">
        </vrt-template-explosion>
    </div>
</div>