<div layout="column" class="md-inline-form block-wrap" ng-if="vm.isExplosion" ng-class="vm.templateClass">
    <md-content layout-padding="">
        <md-input-container class="md-block">
            <label>Quote</label>
            <input ng-model="quote.question" md-maxlength="130">
        </md-input-container>
    </md-content>

    <div layout-gt-sm="row">
        <input ng-model="quote.img" type="file" vrt-image-preview="onFileSelect($files)"/>

    </div>
    <div class="dir-wrap">
        <vrt-template-explosion class="dir-wrap" is-ready="vm.isReady" template-class="vm.templateClass"
                                quote="quote.question" image="quote.img">
        </vrt-template-explosion>
    </div>
</div>