@import "../../common/style/variables";

//.container-screenshot {
//  font-family: Roboto, "Helvetica Neue", sans-serif;
//  background-color: $drd-main-bg-color;
//}

.dir-wrap {
  margin: 20px auto;
}

button.md-button.vrt-drd-btn {
  color: $white;
  background-color: $drd-main-color;
}

button.md-button.vrt-ak-btn {
  color: $white;
  background-color: $ak-main-color;
}

.block-wrap {
  max-width: 984px;
  margin: 0 auto;
}

md-list {
  padding: 0 0;
  transition: height 100ms linear;
}

.animatedIcon:hover {
  cursor: pointer;
}

.animatedIcon {
  transition-duration: 0.6s;
  transition-property: transform;
  outline: 0;
}

.rotatedIcon {
  transform: rotate(180deg);
}

md-list-item img {
  padding: 5px 0;
}