<div layout="column" class="md-inline-form block-wrap" ng-if="vm.templateName === 'bmo'">
    <md-content layout-padding="">
        <md-input-container class="md-block">
            <label>Header/name</label>
            <input ng-model="quote.header" md-maxlength="40">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Title/quote</label>
            <input ng-model="quote.text" md-maxlength="100">
        </md-input-container>
    </md-content>

    <div layout-gt-sm="row">
        <input type="file" required ngf-select="vm.upload($file, 'vibrance')"/>
    </div>

    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="md-body-1">Image size</span>
        </div>
        <md-slider flex ng-init="quote.imageSize=100" ng-model="quote.imageSize" min="0" max="200"
                   id="imageSize-slider" class="md-primary">
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="quote.imageSize" aria-controls="imageSize-slider">
        </div>
        <div flex-xs flex="20">
            <md-checkbox ng-model="quote.isFacebook" aria-label="Checkbox 1">
                Is it Facebook header?
            </md-checkbox>
        </div>
    </div>

    <div class="dir-wrap">

        <vrt-template-bmo class="dir-wrap"
                                 template-class="vm.templateClass"
                                 image-size="quote.imageSize"
                                 header = "quote.header"
                                 quote="quote.text"
                                 is-facebook="quote.isFacebook"
                                 image="vm.image">
        </vrt-template-bmo>
    </div>
</div>