<md-contentmd-content layout="row">

    <section flex="25">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">VRT pictures tool</h1>
        </md-toolbar>

        <md-content>
            <md-list>
                <md-toolbar md-scroll-shrink="">
                    <div class="md-toolbar-tools" ng-init="vm.showSchemes = false" ng-click="vm.showSchemes = !vm.showSchemes">
                        Merk <span flex></span><i class="material-icons animatedIcon" ng-class="{'rotatedIcon':vm.showSchemes}">&#xE313;</i>
                    </div>
                </md-toolbar>
                <md-list-item ng-if="vm.showSchemes" ng-repeat="scheme in vm.schemes" class="md-3-line" ng-click="vm.getScheme(scheme)">{{scheme.name}}</md-list-item>
                <md-toolbar md-scroll-shrink="">
                    <div class="md-toolbar-tools" ng-init="vm.showTypes = false" ng-click="vm.showTypes = !vm.showTypes">
                        Type <span flex></span><i class="material-icons animatedIcon" ng-class="{'rotatedIcon':vm.showTypes}">&#xE313;</i>
                    </div>
                </md-toolbar>
                <md-content style="height: 600px;" ng-if="vm.showTypes">
                    <md-subheader class="md-no-sticky">Headline</md-subheader>
                    <md-list-item class="md-3-line" ng-click="vm.showExplosion('explosion')">
                        <img src="./../assets/templates/hub_headline-h1.jpg" alt="" width="100%">
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Quote</md-subheader>
                    <md-list-item class="md-3-line" ng-click="vm.showMurderface()">
                        <img src="./../assets/templates/hub_Quote-situatie.jpg" alt="" width="100%">
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-click="vm.showSkwigelf()">
                        <img src="./../assets/templates/hub_Quote-persoon.jpg" alt="" width="100%">
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Cijfer</md-subheader>
                    <md-list-item class="md-3-line" ng-click="vm.showPickels()">
                        <img src="./../assets/templates/hub_Cijfer.jpg" alt="" width="100%">
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Update</md-subheader>
                    <md-list-item class="md-3-line" ng-click="vm.showDethklok('update', 'UPDATE')">
                        <img src="./../assets/templates/hub_Update.jpg" alt="" width="100%">
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Breaking</md-subheader>
                    <md-list-item class="md-3-line" ng-click="vm.showDethklok('breaking', 'BREAKING')">
                        <img src="./../assets/templates/hub_Breaking-foto.jpg" alt="" width="100%">
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Live</md-subheader>
                    <md-list-item class="md-3-line" ng-click="vm.showDethklok('update', 'Volg LIVE')">
                        <img src="./../assets/templates/hub_Live.jpg" alt="" width="100%">
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Analyse</md-subheader>
                    <md-list-item class="md-3-line" ng-click="vm.showDethklok('update', 'Analyse')">
                        <img src="./../assets/templates/hub_Analyse.jpg" alt="" width="100%">
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Ook dat nog</md-subheader>
                    <md-list-item class="md-3-line" ng-click="vm.showDethklok('nog', 'Ook dat nog')">
                        <img src="./../assets/templates/hub_Ook-dat-nog-h1.jpg" alt="" width="100%">
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Infografiek</md-subheader>
                    <md-list-item class="md-3-line" ng-click="vm.showDethklok('update', 'Infografiek')">
                        <img src="./../assets/templates/hub_Infografiek-h1.jpg" alt="" width="100%">
                    </md-list-item>
                </md-contentmd-content>
            </md-list>
        </md-content>

    </section>

    <section flex="75">


        <!--<section layout="row" layout-sm="column" layout-align="center" layout-wrap="">-->
        <!--<div flex="20">-->
        <!--<md-input-container class="md-block" flex-gt-sm="">-->
        <!--<label>Choose color scheme</label>-->
        <!--<md-select ng-model="scheme">-->
        <!--<md-option selected="selected" ng-repeat="scheme in vm.schemes" ng-value="scheme.className">-->
        <!--{{scheme.name}}-->
        <!--</md-option>-->
        <!--</md-select>-->
        <!--</md-input-container>-->
        <!--</div>-->
        <!--</section>-->


        <div ng-class="vm.className" >
            <form name="templateForm">

            <!--template-->
            <ng-include src="'components/pictures/picture.explosion.html'"></ng-include>
            <!--template-->
            <ng-include src="'components/pictures/picture.skwigelf.html'"></ng-include>
            <!--template-->
            <ng-include src="'components/pictures/picture.murderface.html'"></ng-include>
            <!--template-->
            <ng-include src="'components/pictures/picture.wartooth.html'"></ng-include>
            <!--template-->
            <ng-include src="'components/pictures/picture.pickels.html'"></ng-include>
            <!--template-->
            <ng-include src="'components/pictures/picture.dethklok.html'"></ng-include>

                <div ng-messages="templateForm.img.$error.required" >
                    <div ng-message="required">Image is required.</div>
                </div>

            <section ng-if="vm.isSkwigelf || vm.isMurderface || vm.isWartooth || vm.isExplosion || vm.isPickels || vm.isDethklok" layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                <md-button class="md-raised" ng-click="vm.getPicture()" ng-disabled="templateForm.img.$error.required">Get Picture</md-button>
                <a ng-href="{{vm.$rootScope.template_url}}" target="_blank" download="filename">Download</a>
            </section>
            </form>
        </div>
    </section>
</div>