<div layout="column" class="md-inline-form block-wrap" ng-if="vm.templateName === 'giantbomb'">
    <md-content layout-padding="">
        <md-input-container class="md-block">
            <label>Bovenste lijn</label>
            <input ng-model="quote.line1" md-maxlength="30">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Onderste lijn</label>
            <input ng-model="quote.line2" md-maxlength="40">
        </md-input-container>
    </md-content>

    <div layout-gt-sm="row">
        <input type="file" required ngf-select="vm.upload($file, 'vibrance')"/>
    </div>

    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="md-body-1">Image size</span>
        </div>
        <md-slider flex ng-init="quote.imageSize=100" ng-model="quote.imageSize" min="0" max="200"
                   id="imageSize-slider" class="md-primary">
        </md-slider>
        <div flex="10" layout layout-align="center center">
            <input flex type="number" ng-model="quote.imageSize" aria-controls="imageSize-slider">
        </div>
        <div flex-xs flex="20">
            <md-checkbox ng-model="quote.isFacebook" aria-label="Checkbox 1">
                Is it Facebook header?
            </md-checkbox>
        </div>
    </div>

    <div class="dir-wrap">

        <vrt-template-giant-bomb class="dir-wrap" template-class="vm.templateClass" image-size="quote.imageSize"
                                 line1 = "quote.line1" line2="quote.line2" image="vm.image" is-facebook="quote.isFacebook">
        </vrt-template-giant-bomb>
    </div>
</div>