<div layout="column" class="md-inline-form block-wrap" ng-if="vm.templateName === 'drd03'" ng-class="vm.templateClass">
    <md-content layout-padding="">
        <md-input-container class="md-block">
            <label>Quote</label>
            <textarea ng-model="template.text" md-maxlength="100" rows="3" vrt-maxlines="3" maxlines-prevent-enter="true"></textarea>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Naam</label>
            <textarea ng-model="template.name" md-maxlength="60" rows="3" vrt-maxlines="3" maxlines-prevent-enter="true"></textarea>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Functie</label>
            <textarea ng-model="template.function" md-maxlength="60" rows="3" vrt-maxlines="3" maxlines-prevent-enter="true"></textarea>
        </md-input-container>
        <div layout>
            <div flex="10" layout layout-align="center center">
                <span class="md-body-1">Afbeelding grootte</span>
            </div>
            <md-slider flex ng-init="vm.template.imageSize=100" ng-model="vm.template.imageSize" min="0" max="200" id="imageSize-slider" class="md-primary">
            </md-slider>
            <div flex="20" layout layout-align="center center">
                <input flex type="number" ng-model="vm.template.imageSize" aria-controls="imageSize-slider">
            </div>
        </div>
    </md-content>

    <input ng-model="template.img" type="file" name="img" required vrt-image-preview="onFileSelect($files)" />

    <div class="dir-wrap">
        <vrt-picture-drd03 class="dir-wrap" template-class="vm.templateClass" image-size="vm.template.imageSize" text="template.text" name="template.name" function="template.function" image="template.img">
        </vrt-picture-drd03>
    </div>
</div>