<div layout="column" class="md-inline-form block-wrap" ng-if="vm.isFinn">

    <md-content layout-padding="">
        <md-input-container class="md-block">
            <label>Quote</label>
            <input ng-model="quote.question" md-maxlength="100">
        </md-input-container>
    </md-content>

    <div layout-gt-sm="row">
        <md-content layout-padding="" flex="50">
            <md-input-container class="md-block">
                <label>Author name</label>
                <input ng-model="quote.authorName" md-maxlength="100">
            </md-input-container>
        </md-content>

    </div>
    <div layout-gt-sm="row">

        <input ng-model="quote.img" type="file" name="img" required vrt-image-preview="onFileSelect($files)"/>
        <!--<div flex="20">-->
        <!--<md-checkbox ng-model="quote.isMirrored" aria-label="Checkbox flip image">-->
        <!--Flip image & text?-->
        <!--</md-checkbox>-->
        <!--</div>-->
        <!--<md-checkbox ng-model="quote.isHiddenSign" aria-label="Checkbox hide quote"-->
        <!--ng-init="quote.isHiddenSign=true">-->
        <!--Is it a quote?-->
        <!--</md-checkbox>-->
    </div>

    <div class="dir-wrap">
        <vrt-template-finn class="dir-wrap vrt-txt"
                               is-ready="vm.isReady" quote="quote.question" image="quote.img"
                               author-name="quote.authorName" >
        </vrt-template-finn>
    </div>
</div>