<div layout="column" class="md-inline-form block-wrap" ng-if="vm.isWartooth">

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <label>Nieuws 1</label>
            <input ng-model="news.textOne" md-maxlength="50">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
            <label>Nieuws 2</label>
            <input ng-model="news.textTwo" md-maxlength="50">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
            <label>Nieuws 3</label>
            <input ng-model="news.textThree" md-maxlength="50">
        </md-input-container>
    </div>

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <input ng-model="news.imgOne" type="file" vrt-image-preview="onFileSelect($files)"/>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
            <input ng-model="news.imgTwo" type="file" vrt-image-preview="onFileSelect($files)"/>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
            <input ng-model="news.imgThree" type="file" vrt-image-preview="onFileSelect($files)"/>
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <label>Footer text</label>
            <input ng-model="news.footerText">
        </md-input-container>
    </div>

    <div class="dir-wrap">
        <vrt-template-wartooth class="dir-wrap vrt-txt"
                               is-ready="vm.isReady" footer-text="news.footerText"
                               text-one="news.textOne" img-one="news.imgOne"
                               text-two="news.textTwo" img-two="news.imgTwo"
                               text-three="news.textThree" img-three="news.imgThree">
        </vrt-template-wartooth>
    </div>

</div>