<div layout="column" class="md-inline-form block-wrap" ng-if="vm.isPickels" ng-class="vm.templateClass">
    <md-content layout-padding="">
        <md-input-container class="md-block">
            <label>Cijfer</label>
            <input ng-model="quote.number" md-maxlength="30">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Text</label>
            <input ng-model="quote.question" md-maxlength="40">
        </md-input-container>
    </md-content>

    <div layout-gt-sm="row">
        <input ng-model="quote.img" type="file" name="img" required vrt-image-preview="onFileSelect($files)"/>

    </div>
    <div class="dir-wrap">
        <vrt-template-pickels class="dir-wrap" is-ready="vm.isReady" template-class="vm.templateClass"
                                numbr = "quote.number" quote="quote.question" image="quote.img">
        </vrt-template-pickels>
    </div>
</div>