@import "../../common/style/variables";

.session-list {
        background-color: transparentize($vrt-supl, .9);
}

.question-input {

}

.questions {

    &:nth-child(2n) {
        background-color: transparentize($vrt-supl, .9);

    }
}

.question-output {
    font-size: 2rem;
    h1 {
        font-size: 3rem;
    }
}

.session-list-item {

    &:nth-child(2n-1) {
        background-color: transparentize($vrt-tool, .9);
    }
 &.active {
        background-color: transparentize($vrt-guide, .5);
    }
}