<md-content layout="column" >
    <md-switch ng-model="vm.live" aria-label="Live" layout-padding >
        Live
    </md-switch>
    <div layout="row">
        <section flex="20" layout="column" ng-if="!vm.live" layout-padding class="session-list">
            <md-input-container>
                <label>Onderwerp</label>
                <input ng-model="vm.sessionInput.subject" type="text">
            </md-input-container>
            <md-input-container>
                <label>Interviewer</label>
                <input ng-model="vm.sessionInput.name" type="text">
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised" ng-click="vm.addSession(vm.sessionInput)">Start een nieuwe sessie</md-button>
            </div>
            <md-list flex>
                <md-list-item class="md-3-line session-list-item" ng-repeat="s in vm.sessions | orderBy:'timestamp':true" ng-click="vm.getSession(s.$id)" ng-class="(s.$id==vm.activeSession) ? 'active' : ''">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{s.subject}}</h3>
                        <h4>{{s.name}}</h4>
                    </div>
                    <i ng-click="vm.deleteSession(s)" class="material-icons grid-iconbutton">&#xE14C;</i>
                </md-list-item>
            </md-list>
        </section>
        <section flex ng-hide="vm.activeSession == ''" >
            <div layout="row" ng-if="!vm.live" layout-padding class="question-input">
                <md-input-container flex="80" >
                    <label>Vraag</label>
                    <input ng-model="vm.questionInput.text" type="text">
                </md-input-container>
                <md-input-container flex="20">
                    <label>Naam</label>
                    <input ng-model="vm.questionInput.name" type="text">
                </md-input-container>
                <md-input-container>
                    <i style="padding-top:8px;" ng-click="vm.addQuestion(vm.questionInput)" class="material-icons grid-iconbutton">&#xE145;</i>
                </md-input-container>
            </div>
            <div ng-repeat="q in vm.questions | orderBy:'timestamp':true" layout="row" layout-padding class="questions">
                <div class="question-output">
                    {{q.name}} vraagt:
                    <h1>{{q.text}}</h1>
                </div>
                <span flex></span>
                <i ng-click="vm.deleteQuestion(q)" class="material-icons grid-iconbutton">&#xE14C;</i>
            </div>
        </section>
    </div>
</md-content>