@import "../../style/variables";

.textBlock {
  padding-left: 30px;
  position: relative;
}

.textMask {
  width: 400px;
  height: 55px;
  position: absolute;
  display: inline-block;
  background-color: $drd-main-bg-color;
  left: 20px;
  z-index: 200;
}


.text {
  color: #1D303E;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  background-color: $drd-main-color;
  padding: 10px;
  padding-right: 20px;
  width: auto;
  margin: 10px 0;
  z-index: 0;
}
