.textBlock {
  padding-left: 30px;
}

.textMask {
  width: 700px;
  height: 55px;
  position: absolute;
  display: inline-block;
  background-color: #1D303E;
  right: 0px;
}


.text {
  color: #1D303E;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  background-color: #8FC94F;
  padding: 10px;
  width: auto;
  margin: 10px 0;
}
