.textBlock {
  padding-left: 30px;
}

.text {
  color: #1D303E;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  background-color: #8FC94F;
  padding: 10px;
  width: auto;
}