@import "../../style/variables";

.ab-picture__wrap {
  width: 328px;
  height: 513px;
  position: relative;
}

.ab-picture {
  width: 328px;
}

.ab-line__separator {
  background-color: $white;
  width: 16px;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
}

.ab-line__blue {
  height: 100%;
  width: 8px;
  background-color: rgba($r1-main-color, 0.75);
  position: absolute;
  top: 0;
  z-index: 2;
  margin-left: 16px;
}

.ab-name__wrap {
  margin: 0 20px 0px 40px;
  position: relative;
}

.ab-name {
  color: $white;
  font-family: "Calibre-Black", sans-serif;
  font-size: 48px;
  line-height: 0.8em;
  text-transform: uppercase;
}

.ab-line {
  background-color: $r1-accent-color;
  color: $white;
  font-family: "Calibre-Black", sans-serif;
  font-size: 48px;
  line-height: 0.5em;
  margin: 20px 10px 10px 40px;
  padding: 16px 10px 0 10px;
  width: 100px;
}

.ab-text__wrap--bottom {
  margin-top: 100%;
}

.ab-title {
  color: $white;
  font-family: "Calibre-Light", sans-serif;
  font-size: 18px;
  display: inline-block;
  text-transform: none;
  //padding-left: 10px;
  //top: 25px;
  //position: absolute;
}