<div class='wrap finn-wrap'>
    <div class='quote-wrap finn-quote-wrap'>
        <div class="author finn-auth">
            <p class='finn-auth-name' ng-if="vm.authorName">{{vm.authorName}}</p>
            <p class='finn-auth-title' ng-if="vm.authorTitle">{{vm.authorTitle}}</p>
        </div>
        <div class='quote finn-quote'><span class="sign">“</span>{{vm.quote}}<span class="sign">”</span></div>
        <img class='logo logo-r1 finn-logo' src="./assets/logor1_blauw.svg">
    </div>
    <div class='finn-image'>
        <div ng-if="vm.image" class='line-vert'></div>

        <div class='r1-image__draggable' vrt-movable
             ng-style="{'background-image': 'url(' + vm.image + ')', 'background-size': vm.imageSize + '%'}"></div>
    </div>
</div>