@import "../../style/variables";

.r1-separate-line {
  background-color: $r1-accent-color;
  height: 10px;
}

.r1-quote {
  background-color: $r1-light-color;
  color: $r1-main-color;
  font-family: 'Calibre-Light', sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 9px 10px 0 10px;
}