@import "../../style/variables";

.logo-bottom-bg {
  right: 50px;
  position: absolute;
  bottom: 35px;
  box-sizing: content-box;
}


.header {
  color: $white;
  margin: 0 auto;
  text-align: left;
  font-size: 65px;
  font-weight: 700;
  line-height: 84px;
  text-transform: uppercase;
  display: inline-block;
  padding: 70px 80px 20px 80px;
  white-space: pre-wrap;
}