<section class='wrap container-screenshot' ng-class="vm.templateClass">
    <div class='image' style="background-image: url('{{vm.image}}')">
        <!--<div ng-class="vm.image ? 'overlay' : 'no-overlay'">-->
            <img class="logo-bottom-bg logo-ak" src="./assets/logoak.svg">
            <img class='logo-bottom-bg logo-drd' src="./assets/deredactie.svg">
            <img class='logo logo-r1' src="./assets/logor1_blauw.svg">

            <div class="long-quote-wrap">
                <div class="r1-wrap">
                    <div ng-if='vm.headline' class="r1-header">
                        {{vm.headline}}
                    </div>
                    <div class="r1-line"></div>
                    <div ng-if='vm.quote' class="r1-text">{{vm.quote}}</div>
                </div>
            </div>
        </div>
</section>
