@import "../../common/style/variables";
.grid-container {
    md-input-container {
        margin-bottom: 0px;
    }
    .grid-datepicker {
        // background-color: $vrt-tool;
    }
    .md-select-value *:first-child {
        width: 100px;
        text-overflow: ellipsis;
    }
    .grid-iconbutton {
        color: $vrt-supl;
        -webkit-transition: color 1s;
        transition: color 1s;
        cursor: pointer;
        &:hover {
            color: $vrt-tool;
        }
    }
    .grid-form {
        background-color: transparentize($vrt-guide, .9);
        border-bottom-style: solid;
        border-bottom-width: 3px;
    }
    .grid-posts {
        height: calc(100vh - 64px);
        overflow: scroll;
    }
    .grid-list > div {
        &:nth-child(2n) {
            background-color: transparentize($vrt-tool, .9);
        }
    }
    .bars-category {
        .gridBar-container {
            background-color: transparentize($vrt-tool, .9);
        }
        .gridBar-filled {
            background-color: $vrt-tool;
        }
    }
    .bars-type {
        .gridBar-container {
            background-color: transparentize($vrt-guide, .9);
        }
        .gridBar-filled {
            background-color: $vrt-guide;
        }
    }
}