@import "../../common/style/variables";
.grid-container {
    counter-reset: section;
    md-input-container {
        margin-bottom: 0px;
    }
    .grid-datepicker {
        // background-color: $vrt-tool;
    }
    .md-select-value *:first-child {
        width: 100px;
        text-overflow: ellipsis;
    }
    .grid-iconbutton {
        color: $vrt-supl;
        -webkit-transition: color 1s;
        transition: color 1s;
        cursor: pointer;
        &:hover {
            color: $vrt-tool;
        }
    }
    .grid-form {
        background-color: transparentize($vrt-guide, .9);
        border-bottom-style: solid;
        border-bottom-width: 3px;
    }
    .grid-posts {
        height: calc(100vh - 64px);
        overflow: scroll;
        padding-left: 30px;
    }
    .grid-list > div {
        &:nth-child(2n) {
            background-color: transparentize($vrt-tool, .9);
        }
    }
    .grid-item {
        position: relative;
        &::before {
            position: absolute;
            left: -20px;
            top: 38%;
            color: $vrt-supl;
            font: bold 20px/1 Sans-Serif;
            counter-increment: section;
            content: counter(section);
        }
    }
    .bars-category {
        .gridBar-container {
            background-color: transparentize($vrt-tool, .9);
        }
        .gridBar-filled {
            background-color: $vrt-tool;
        }
    }
    .bars-type {
        .gridBar-container {
            background-color: transparentize($vrt-guide, .9);
        }
        .gridBar-filled {
            background-color: $vrt-guide;
        }
    }
    // .faq {
    //     counter-reset: my-badass-counter;
    // }
    // .faq dt {
    //     position: relative;
    //     font: bold 16px Georgia;
    //     padding: 4px 0 10px 0;
    // }
    // .faq dt:before {
    //     content: counter(my-badass-counter);
    //     counter-increment: my-badass-counter;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     font: bold 50px/1 Sans-Serif;
    // }
    // .faq dd {
    //     margin: 0 0 50px 0;
    // }
    // .faq dt, .faq dd {
    //     padding-left: 50px;
    // }
}