<md-dialog aria-label="Login" flex="50">
    <form>
        <md-toolbar class="vrt-toolbar">
            <div class="md-toolbar-tools">
                <h2>Projecten</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.closeModal()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;">
            <md-content class="md-padding">
                <div layout="row">
                    <div layout="column" layout-align="start center" layout-wrap>
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="(key, m) in vm.movies | reverse">
                                <div class="md-list-item-text" ng-click="vm.openMovie(m.$id)">
                                    <h3>{{m.meta.projectId}}</h3>
                                    <p>{{m.meta.email}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div layout="column" layout-align="start center" layout-wrap>
                        <md-button class="md-raised" aria-label="filmpje starten" ng-click="vm.createMovie()">
                            Start nieuw project
                        </md-button>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <!--  <md-dialog-actions layout="row" class="form-footer">
            <span flex ng-if="vm.accountStatus != 'loggedIn'"></span>
            <md-button ng-click="vm.logIn(vm.userForm)" class="vrt-button" ng-if="vm.accountStatus == 'authenticated'">
                Log in
            </md-button>
            <md-button ng-click="vm.activateUser(vm.userForm)" class="vrt-button" ng-if="vm.accountStatus == 'pendingVerification'">
                Sla paswoord op en log in
            </md-button>
            <md-button ng-click="vm.createUser(vm.userForm)" class="vrt-button" ng-if="vm.accountStatus == 'existsFalse'">
                Maak een account aan
            </md-button>
            <md-button ng-click="vm.logOut()" class="vrt-button" ng-if="vm.accountStatus == 'loggedIn'">
                Log uit
            </md-button>
            <span flex></span>
            <md-button ng-click="vm.closePopup()" ng-if="vm.accountStatus == 'loggedIn'">
                Ok
            </md-button>
        </md-dialog-actions> -->
    </form>
</md-dialog>
