<md-content layout="column" style="height:calc(100vh - 4em)" id="subtitle-tool">
    <div layout="row" style="background:#f2f2f2;">
        <div class="md-toolbar-tools">

            <div layout="column" flex="20">
                <div ng-if="vm.meta.movieUrl != null">
                    <md-button class="md-raised" aria-label="Clip toevoegen" ng-click="vm.addSubtitle(vm.meta.movieDuration, $event)">
                        + subtitle (U)
                    </md-button>
                </div>
            </div>

            <span flex></span>

            <div layout="column" style="font-size:12px; display:inline-block;">
                shortcutlist: <span class="cfp-hotkeys-key">shift</span>+ <span class="cfp-hotkeys-key">?</span>
            </div>

            <div layout="column" class="vertical-divider"></div>
            
            <div layout="column" flex="15">
                <md-button class="md-raised" aria-label="filmpje starten" ng-click="vm.createMovie()">
                   Nieuw
                </md-button>
            </div>

            <div layout="column" flex="15">
                <md-button class="md-raised md-primary" aria-label="Project openen / starten" ng-click="vm.openProjects()">
                    Open
                </md-button>
            </div>
        </div>
    </div>

    <div ng-if="vm.projectActive == true" style="" layout="row" style="background:#f0f0f0;">
        <md-toolbar class="md-primary" ng-if="!vm.uploading && vm.meta.movieUrl == null">
            <div class="md-toolbar-tools">
                <md-button class="md-raised" aria-label="Plaats nieuw filmpje" ng-model="vm.subtitle.video" ngf-accept="'video/mp4, video/quicktime'"
                    ngf-select="vm.upload($file)" type="file">
                    Add a Movie
                </md-button>
            </div>
        </md-toolbar>
    </div>

    <div layout="row" style="height:calc(100% - 3rem)">
        <section flex="20" layout="column">
            <md-content>
            <div ng-if="vm.meta.movieUrl != null">
                <md-list style="overflow-y: scroll;">
                    <div>
                        <md-list-item class="md-2-line animate-repeat subtitles-clips__list--{{c.type}}" ng-click="vm.selectClip(c.$id, c.start, c.end, c.type, c.template, 'form'); vm.loop = true"
                            ng-class="c.$id == vm.selectedSub.id ? 'list__item--selected' : ''" ng-repeat="(key, c) in vm.subs | orderBy: 'start'">
                            <div class="md-list-item-text">
                                <h3>{{c.start | limitTo: 5}} - {{c.end | limitTo: 5}}</h3>
                                <p>{{ c.text }}</p>
                            </div>
                            <md-button class="md-secondary md-icon-button" ng-click="vm.subs.$remove(c)" aria-label="remove clip">
                                <i class="material-icons" ng-click="vm.subs.$remove(c)">close</i>
                            </md-button>
                        </md-list-item>
                    </div>
                </md-list>
            </div>
            </md-content>

        </section>

        <section flex="10" ng-if="vm.subs.length && vm.subs.selected" style="border:1px solid #f2f2f2">
            <div ng-repeat="(key,t) in vm.clipTemplates" ng-click="vm.setTemplate(t.meta.type, key)" ng-if="(t.meta.brand.indexOf(vm.project.meta.brand) > -1 || t.meta.brand == 'all') && t.meta.excludeBrand.indexOf(vm.project.meta.brand) == -1 && t.meta.roles.indexOf(vm.user.role) > -1">
                <img ng-src="{{t.meta.img}}" class="subtitles-templates__selectTemplate" ng-class="(key == vm.selectedSub.template) ? 'selectedTemplate' : ''">
            </div>
        </section>

        <section ng-if="vm.meta.movieUrl != null" layout-padding flex="30" style="border:1px solid #f2f2f2">
            <div ng-repeat="(key, c) in vm.subs" ng-if="c.$id == vm.selectedSub.id">
                <subtitle-input template="vm.selectedTemplate" updateparent="vm.saveSubs(c)"  ref="c"></subtitle-input>
            </div>
        </section>

        <section flex ng-if="vm.projectActive == true" class="subtitles-movie" layout="column" flex="40">

            <md-list>
                <md-list-item ng-if="!vm.uploading && vm.meta.movieUrl != null">
                    <md-button class="md-raised" href="{{vm.meta.movieUrl}}">Download orig</md-button>
                    <md-button class="md-raised" aria-label="Plaats nieuw filmpje" ng-model="vm.subtitle.video" ngf-accept="'video/mp4, video/quicktime'"
                        ngf-select="vm.upload($file)" type="file">
                        Change Movie
                    </md-button>
                </md-list-item>

                <div class="videowrapper" ng-if="!vm.uploading && vm.meta.movieUrl != null">
                    <vrt-videoplayer source="vm.meta.movieUrl" start="vm.selectedSub.start" end="vm.selectedSub.end" loop="vm.loop" subs="vm.subs"></vrt-videoplayer>
                </div>

                <md-list-item ng-if="vm.uploading">
                    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                </md-list-item>
            </md-list>

            <md-toolbar ng-if="vm.meta.movieUrl != null">
                <div class="md-toolbar-tools">
                    <md-button class="md-raised" aria-label="Bekijk filmpje" ng-click="vm.preview()" ng-disabled="!vm.loop">
                        Preview
                    </md-button>
                    <span flex></span>
                    <md-button class="md-raised" aria-label="Maak filmpje" ng-click="vm.finishMovie()">
                        Create Movie
                    </md-button>
                </div>
            </md-toolbar>

            <section>
                <span ng-if="vm.logs.status">Status: {{vm.logs.status}}</span>
                <md-progress-linear ng-if="vm.logs.progress" md-mode="determinate" value="{{vm.logs.progress}}"></md-progress-linear>
            </section>
        </section>

        <section ng-if="vm.meta.movieUrl != null" layout="row">
            <div flex="70" layout-align="center center" ng-repeat="(key, c) in vm.subs" ng-if="c.$id == vm.selectedSub.id" class="clipSlider"
                style="width: 100%;position: fixed;bottom: 20px;left: calc(15% - 1px); background-color: transparent; z-index: 3;"
                ng-class="vm.loop ? '' : 'videoLooping'">
                <rzslider rz-slider-model="c.start" rz-slider-high="c.end" rz-slider-options="vm.subSlider.options"></rzslider>
                <!-- <rzslider rz-slider-model="c.start" rz-slider-high="c.end" rz-slider-options="vm.visualSlider.options"></rzslider> -->
            </div>
        </section>
    </div>
</md-content>