#subtitleText {
  position: absolute;
  width: 550px;
  border: none;
  background-color: transparent;
  color: white;
  bottom: 10px;
  margin-left: -275px;
  left: 50%;
  text-align: center;
}

.videowrapper {
  position: relative;
}

.videowrapper:hover {
  #subtitleText {
    background-color: rgba(255,255,255, 0.3);
    border: 1px solid white;
  }
}