<md-content layout-padding layout="row" layout-align="center center" ng-init="vm.srcChanged()">
    <div flex-gt-md="80" flex="100" flex-md="80">
            <h1>Subtitle tool</h1>
            <section ng-hide="vm.movieUploaded">
                <h1>Upload video: (only .mp4 is supported)</h1>
                <md-input-container>
                    <input ng-model="vm.subtitle.video" ngf-accept="'video/mp4'" ngf-select="vm.upload($file)" type="file" />
                </md-input-container>

                <p ng-if="vm.progressPercentage && !vm.movieUploaded">{{vm.progressPercentage}} %</p>
            </section>

            <section ng-if="vm.movieUploaded">
                <div class="videowrapper">
                    <vrt-videoplayer source="vm.uploadedMovieUrl" start="vm.form.start" end="vm.form.end" update-time="vm.updateTime()"></vrt-videoplayer>
                    <p id="subtitlePreview">{{vm.currentSubtitlePreview}}</p>
                    <input id="subtitleText" name="title" ng-model="vm.form.text">
                </div>
                <rzslider rz-slider-model="vm.form.start" rz-slider-high="vm.form.end" rz-slider-options="vm.slider.options"></rzslider>
                <!--<rzslider rz-slider-model="vm.form.start" id="vm.key" rz-slider-high="vm.form.end" rz-slider-options="vm.slider.options"></rzslider>-->

                <label for="subtitleText">Subtitle</label>

                <label for="subtitleStart">Start</label>
                <input id="subtitleStart" name="title" ng-model="vm.form.start">

                <label for="subtitleEnd">End</label>
                <input id="subtitleEnd" name="title" ng-model="vm.form.end">

                <button class="md-raised md-primary" ng-click="vm.addSubtitle()">Add new line</button>

                <ul>
                    <li ng-repeat="line in vm.subtitles" ng-click="vm.editSubtitle(line)"">
                        {{line.start}} - {{line.end}}: {{line.text}}
                    </li>
                </ul>

                <!--<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>-->
                    <!--<md-input-container>-->
                        <!--<input ng-model="vm.form.start" ng-change="changeSlider()">-->
                    <!--</md-input-container>-->
                    <!--<md-button class="md-fab" aria-label="In" ng-click="vm.setIn()"> < </md-button>-->
                    <!--<md-button ng-click="vm.addLine(vm.form)" class="md-raised md-primary">Add Line</md-button>-->
                    <!--<md-button class="md-fab" aria-label="Out" ng-click="vm.setOut()"> > </md-button>-->
                    <!--<md-input-container>-->
                        <!--<input ng-model="vm.form.end">-->
                    <!--</md-input-container>-->
                <!--</section>-->

                <!--<md-list>-->
                    <!--<div ng-repeat="(key, l) in vm.srtObj">-->
                        <!--<subtitle-line key="key" in="l.start" out="l.end" text="l.text"></subtitle-line>-->
                    <!--</div>-->
                <!--</md-list>-->
            </section>

            <form name="mailForm">
                <md-input-container>
                    <label>Email - naar dit adres wordt de verwerkte video verstuurd</label>
                    <input required name="email" ng-model="vm.subtitle.email" type="email" ng-pattern="/^.+@.+\..+$/"/>
                    <div ng-messages="mailForm.email.$error" ng-if="mailForm.$submitted || mailForm.email.$touched">
                        <div ng-message="required">This is required.</div>
                        <div ng-message='pattern'>
                            Your email must look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
            </form>

            <p ng-if="vm.isReadyForProcess">
                Uw video wordt verwerkt. Zodra deze klaar is ontvangt u een e-mail met download link.
                Vergeet niet uw spam-folder na te kijken.
            </p>

            <md-button ng-click="vm.downloadSRTFile(vm.srtObj)" class="md-raised" ng-disabled="!vm.subtitle.email">Generate</md-button>
            <a ng-if='f.subtitled' target="_self" ng-href='/{{f.url}}' download="filename">download</a>
    </div>
</md-content>
