@import "../../common/style/variables";

md-toolbar.vrt-sub-toolbar {
  color: #000;
  background-color: lightgrey;
}

.page-container {
}

.upload-container {
  padding: 50px;
}

.video-container {
  height: calc(100vh - 64px);
}

rzslider {
  display: block;
  width: 66%;
  margin: 90px auto 20px;
}

.subtitle-editor-wrap {
  width: 66%;
  margin: 0 auto 50px;
}

.subtitles-container {
  position: relative;
  height: calc(100% - 64px);

  .subtitles-wrap {
    position: relative;
    height: 100%;
  }
}

#subtitlePreview {
  margin: 0;
  position: absolute;
  bottom: 25px;
  left: 0;
  display: block;
  z-index: 100;
  width: 100%;
  padding: 15px 25px 0px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 2.7em;
  //text-shadow: 2px 2px 0 #000;
  -webkit-text-stroke: 2px black;
}

.videowrapper {
  position: relative;
}

.videowrapper:hover {
  #subtitleText {
    background-color: rgba(255,255,255, 0.3);
    border-bottom: 1px solid white;
  }
}


.subtitles-text-line-preserve {
   white-space: pre-wrap;
}

.editingRow {
  color: $ook-dat-nog;
  background-color: rgba(158,158,158,0.2);
}
